In [1]:
company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

In [2]:
# Task 1: Print list of companies in the required format, one per line
task_1_result = [{'name': company['name']} for company in sorted(company_detail_list, key=lambda x: x['name'], reverse=True)]

print("Task 1:")
for item in task_1_result:
    print(item)

Task 1:
{'name': 'Company 3'}
{'name': 'Company 2'}
{'name': 'Company 1'}

In [3]:
# Task 2: Print all Domain values for each company
print("Task 2:")
for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Task 2:
Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

In [5]:
# Task 3: Group employees by domain and print one per line
task_3_result = {}
for company in company_detail_list:
    task_3_result[company['domain']] = [
        emp['full_name'] for emp in employee_detail_list if emp['company'] == company['name']
    ]

print("Task 3:")
for domain, employees in task_3_result.items():
    print(f"{domain}:")
    for employee in employees:
        print(f"  - {employee}")

Task 3:
Retail:
  - John Doe
  - Ying Han Tan
  - Robert White
Technology:
  - Tom Smith
  - Rubby Lee
Healthcare:
  - Andrew Sebastian
  - Kenneth Ng

In [6]:
# Task 4: Create a list of dictionaries with full_name, company, and country, and print each attribute on a new line
task_4_result = [
    {
        'full_name': emp['full_name'],
        'company': emp['company'],
        'country': next(
            company['country'] for company in company_detail_list if company['name'] == emp['company']
        )
    }
    for emp in employee_detail_list
]

print("Task 4:")
for entry in task_4_result:
    print("full_name:", entry['full_name'])
    print("company:", entry['company'])
    print("country:", entry['country'])
    print()  # Blank line for better readability

Task 4:
full_name: John Doe
company: Company 1
country: United States

full_name: Tom Smith
company: Company 2
country: United Kingdom

full_name: Andrew Sebastian
company: Company 3
country: United States

full_name: Ying Han Tan
company: Company 1
country: United States

full_name: Kenneth Ng
company: Company 3
country: United States

full_name: Rubby Lee
company: Company 2
country: United Kingdom

full_name: Robert White
company: Company 1
country: United States

In [7]:
# Task 5: Count employees' nationalities per company and print each entry on a new line
task_5_result = []
for company in company_detail_list:
    company_name = company['name']
    nationality_count = {}
    for emp in employee_detail_list:
        if emp['company'] == company_name:
            nationality = emp['nationality']
            nationality_count[nationality] = nationality_count.get(nationality, 0) + 1
    task_5_result.append({
        'company': company_name,
        'employee_nationality': nationality_count
    })

print("Task 5:")
for entry in task_5_result:
    print(f"Company: {entry['company']}")
    for nationality, count in entry['employee_nationality'].items():
        print(f"  {nationality}: {count}")

Task 5:
Company: Company 1
  Australia: 2
  United Kingdom: 1
Company: Company 2
  United States: 1
  Hong Kong: 1
Company: Company 3
  United States: 2